body {
    font-family: 'Times New Roman', 'DFKai-sb';
    user-select: none;
    background: linear-gradient(45deg, #ffffff 25%, #e0e0e0 25%, #e0e0e0 50%, #ffffff 50%, #ffffff 75%, #e0e0e0 75%);
}

#loginbtn {
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', 'DFKai-sb';
    border-radius: 3px;
    background-color: black;
}

    #loginbtn:hover {
        background-color: mediumpurple;
        box-shadow: 0px 0px 10px grey;
        cursor: pointer;
    }

#title3 {
    margin-left: 30px;
    font-size: 35px;
}

#logoutbtn {
    font-size: 18px;
    font-family: 'Times New Roman', 'DFKai-sb';
    border-radius: 3px;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

    #logoutbtn:hover {
        color: white;
        background-color: red;
        box-shadow: 0px 0px 10px grey;
        cursor: pointer;
    }
