<appSettings>
	<add key="ida:AppID" value="a1ffe5f6-2b94-45d5-895d-a619344df45b" />
	<add key="ida:AppSecret" value="Uh68Q~riQ4AktK--wLBYEI-LjS.IrkWPvMVooaFX" />
	<add key="ida:RedirectUri" value="https://localhost:44367/" />
	<add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>