<appSettings>
	<add key="ida:AppID" value="98578604-4999-42f7-9a6a-e1a5bac209da" />
	<add key="ida:AppSecret" value="l828Q~.Ua5DyO4P-~5mROhLaexkzrdU2GgN6GcNQ" />
	<add key="ida:RedirectUri" value="https://localhost:44367/" />
	<add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>